In [21]:
import csv
import pandas as pd

In [22]:
df = pd.read_csv('out2.csv')
df.head()

C:\Users\Aihua Chen\anaconda\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Ticket number,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude,year
0,0,4320468924,2018-01-13T00:00:00,26.0,CA,201801.0,MERZ,PA,BL,5033 LINCOLN AVE,00611,56.0,80.69B,NO PARKING,73.0,6.499186e+06,1.866284e+06,2018
1,1,4320468935,2018-01-13T00:00:00,27.0,CA,201801.0,MERZ,PA,BL,5033 LINCOLN AVE,00611,56.0,5200,DISPLAY OF PLATES,25.0,6.499186e+06,1.866284e+06,2018
2,2,4320468946,2018-01-13T00:00:00,27.0,CA,201804.0,FORD,PA,SL,5033 LINCOLN AVE,00611,56.0,80.69B,NO PARKING,73.0,6.499186e+06,1.866284e+06,2018
3,3,4320468950,2018-01-13T00:00:00,28.0,CA,201812.0,FORD,PA,BL,5033 LINCOLN AVE,00611,56.0,80.69B,NO PARKING,73.0,6.499186e+06,1.866284e+06,2018
4,4,4320468961,2018-01-13T00:00:00,29.0,CA,201806.0,TOYT,PA,BK,5033 LINCOLN AVE,00611,56.0,80.69B,NO PARKING,73.0,6.499186e+06,1.866284e+06,2018

In [23]:
df.shape

(1997938, 18)

In [24]:
df.head()

,Unnamed: 0,Ticket number,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude,year
0,0,4320468924,2018-01-13T00:00:00,26.0,CA,201801.0,MERZ,PA,BL,5033 LINCOLN AVE,00611,56.0,80.69B,NO PARKING,73.0,6.499186e+06,1.866284e+06,2018
1,1,4320468935,2018-01-13T00:00:00,27.0,CA,201801.0,MERZ,PA,BL,5033 LINCOLN AVE,00611,56.0,5200,DISPLAY OF PLATES,25.0,6.499186e+06,1.866284e+06,2018
2,2,4320468946,2018-01-13T00:00:00,27.0,CA,201804.0,FORD,PA,SL,5033 LINCOLN AVE,00611,56.0,80.69B,NO PARKING,73.0,6.499186e+06,1.866284e+06,2018
3,3,4320468950,2018-01-13T00:00:00,28.0,CA,201812.0,FORD,PA,BL,5033 LINCOLN AVE,00611,56.0,80.69B,NO PARKING,73.0,6.499186e+06,1.866284e+06,2018
4,4,4320468961,2018-01-13T00:00:00,29.0,CA,201806.0,TOYT,PA,BK,5033 LINCOLN AVE,00611,56.0,80.69B,NO PARKING,73.0,6.499186e+06,1.866284e+06,2018

In [25]:
df.isnull().sum()

Unnamed: 0                    0
Ticket number                 0
Issue Date                    0
Issue time                  529
RP State Plate                0
Plate Expiry Date        193830
Make                       1839
Body Style                 2218
Color                       915
Location                     91
Route                     15248
Agency                        4
Violation code                0
Violation Description       263
Fine amount                1649
Latitude                      2
Longitude                     2
year                          0
dtype: int64

In [29]:
df['month'] = df['Issue Date'].map(lambda x: str(x).split('-')[1])
df.head()

,Unnamed: 0,Ticket number,Issue Date,Issue time,RP State Plate,Plate Expiry Date,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude,year,month
0,0,4320468924,2018-01-13T00:00:00,26.0,CA,201801.0,MERZ,PA,BL,5033 LINCOLN AVE,00611,56.0,80.69B,NO PARKING,73.0,6.499186e+06,1.866284e+06,2018,01
1,1,4320468935,2018-01-13T00:00:00,27.0,CA,201801.0,MERZ,PA,BL,5033 LINCOLN AVE,00611,56.0,5200,DISPLAY OF PLATES,25.0,6.499186e+06,1.866284e+06,2018,01
2,2,4320468946,2018-01-13T00:00:00,27.0,CA,201804.0,FORD,PA,SL,5033 LINCOLN AVE,00611,56.0,80.69B,NO PARKING,73.0,6.499186e+06,1.866284e+06,2018,01
3,3,4320468950,2018-01-13T00:00:00,28.0,CA,201812.0,FORD,PA,BL,5033 LINCOLN AVE,00611,56.0,80.69B,NO PARKING,73.0,6.499186e+06,1.866284e+06,2018,01
4,4,4320468961,2018-01-13T00:00:00,29.0,CA,201806.0,TOYT,PA,BK,5033 LINCOLN AVE,00611,56.0,80.69B,NO PARKING,73.0,6.499186e+06,1.866284e+06,2018,01

In [32]:
from pyproj import Proj, transform

def convert_coordinates(row):
    inProj = Proj(init='epsg:2229',preserve_units = True)
    outProj = Proj(init='epsg:4326')
    x1,y1 = row.Latitude,row.Longitude
    LONGITUDE,LATITUDE = transform(inProj,outProj,x1,y1)
    return (LATITUDE,LONGITUDE)

In [33]:
df['Converted_Coordinates'] = df.apply(convert_coordinates,axis=1)

In [34]:
df_sample = df[df.Latitude != 99999.0]
out = df_sample.groupby('Converted_Coordinates').count().reset_index()

In [35]:
import numpy as np

np.argwhere(np.isnan([x[0] for x in out['Converted_Coordinates']]))

array([[132538],
       [132544]], dtype=int64)

In [36]:
result = out.drop(out.index[[132538,132544]])
result.shape

(311188, 20)

In [37]:
import gmaps
gmaps.configure(api_key='AIzaSyBw7rSYj64zRNeRin-TqO-XkDRIA_kWupU')

locations = result['Converted_Coordinates']

number = result["Ticket number"]

In [38]:
from ipywidgets.embed import embed_minimal_html
from ipywidgets import IntSlider
LA_coordinates = (34.052194, -118.243694)
fig = gmaps.figure(center=LA_coordinates, zoom_level=12)

heat_layer = gmaps.heatmap_layer(locations, weights=number)

fig.add_layer(heat_layer)

In [39]:
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# df_3 = df[df['month']=='03']
# df_3.shape

In [42]:
# def find_LA(row):
#     if row['Converted_Coordinates'][0] > 34.02 and row['Converted_Coordinates'][0] < 34.06:
#         return 'True'
#     else:
#         return "False" 


# df_3['LA Downtown'] = df_3.apply(find_LA,axis=1)
# df_3['LA Downtown'].value_counts()

In [43]:
# df_3_t = df_3[df_3['LA Downtown'] == 'True']
# df_3_t

In [44]:
# def find_LA_1(row):
#     if row['Converted_Coordinates'][1] > -118.27 and row['Converted_Coordinates'][1] < -118.22:
#         return 'True'
#     else:
#         return "False" 


# df_3_t['LA Downtown_1'] = df_3_t.apply(find_LA_1,axis=1)

In [45]:
# df_3_t['LA Downtown_1'].value_counts()

In [46]:
# result = df_3_t[df_3_t['LA Downtown_1'] == 'True']
# result.head()
# for_weather = result[['Ticket number','Issue Date','Issue time','Converted_Coordinates']]
# for_weather.head()

In [47]:
# sample_weather = for_weather.tail(n=1000)
# sample_weather.shape

In [48]:
# from tqdm import tqdm

In [49]:
# import requests
# import json
# tqdm.pandas()
# import time

# key = '8ee84b047aa288cd072390c03a3324fc' 

# def weather (row):
#     try:
#         url = 'https://api.darksky.net/forecast/8ee84b047aa288cd072390c03a3324fc/{},{}/?{}Z'.format(row.Converted_Coordinates[0],row.Converted_Coordinates[1],row['Issue Date'])
#         data = requests.get(url).json()
#         weather = data.get('currently').get('summary')
#         time.sleep(3)
#         return weather
#     except Exception:
#         return "error"
    
# sample_weather['weather'] = sample_weather.progress_apply(weather,axis=1)